backends:
  # nfs:
    # type: local
    # path: /home/user/my-restic-backup
    # passkey: set-your-own

extras:
  # exclude_file: .restiby.exclude

locations:
  # home:
    # from: /home/user
    # to:
      # - nfs
    # forget:
      # keep_last: 28
      # keep_daily: 30
      # keep_weekly: 16
      # keep_monthly: 24
      # keep_yearly: 12

notifiers:
  # healthchecks_io:
    # webhook_url: "https://example.com"
  # discord:
    # webhook_url: "https://example.com"
