backends:
  # - nfs:
      # type: local
      # path: /home/user/my-restic-backup
      # passkey: set-your-own

extras:
  # exclude-file: .restic-backup.exclude

locations:
  # home:
    # from: /home/user
    # to:
      # - nfs

notifiers:
  # healthchecks_io:
    # webhook_url: "https://example.com"
  # discord:
    # webhook_url: "https://example.com"